  @model  IEnumerable<servicess> 
 @using HomePage.Models

<section class="hero" id="home">
        <div class="particles" id="particles"></div>
        <div class="hero-content animate__animated animate__fadeIn">

            <h1>رعاية نفسية متكاملة بلمسة إنسانية</h1>
            <p>منصة متخصصة لتقديم الاستشارات النفسية مع أفضل الأخصائيين المعتمدين، نقدم لك الدعم والعلاج في أي وقت ومن
                أي مكان</p>
            <a  asp-controller="Specialest" asp-action="html"  class="btn-main">احجز جلستك الآن</a>
        </div>
    </section>
