  @model  IEnumerable<AboutViewModel> 
 @using HomePage.Models


<section class="intro" id="about">
   
    
         <h2 class="animate__animated animate__fadeInUp">@item.Tittle</h2>
          <p class="animate__animated animate__fadeInUp animate__delay-1s">@tem.Subtittle </p>

        <div class="therapy-image animate__animated animate__zoomIn animate__delay-2s">
            <img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?q=80&w=2070&auto=format&fit=crop"
                alt="جلسة علاج نفسي">
        </div>
        <p class="animate__animated animate__fadeIn animate__delay-3s" style="margin-top: 15px;">تجربة علاجية فعالة مع
            مختصين متميزين في بيئة آمنة وخاصة</p>
    </section>
